#num1, #num2{
float: left;
}

div, button{
	display: flex;
	
}





p {
	width: 216px;
	height: 70px;
	background-color: rgb(216, 144, 140);
	margin-bottom: 4px;
	margin-top: 2px;
	border-radius: 21px;
}


button{
	height: 41px;
    width: 51px;
}